{% extends "./layout/base.html" %}

{% block title %}Pesquisa de Clientes{% endblock %}
    {% block content-link-pesquisa-cli %}
        <li class="nav-item active">
            <a class="nav-link" href="#"> >> Pesquisa de Clientes</a>
        </li>
    {% endblock %}

    {% block content-section %}
    <p>
        <a href="/cliente/adicionar/" class="btn btn-primary mt-5">Adicionar</a>
    </p>

    <table class="table table-hover">
        <thead>
            <tr class="border bg-light">
                <th scope="col">Id </th>
                <th scope="col">Nome</th>
                <th scope="col">Data Nascimento</th>
            </tr>
        </thead>
        {% if cliente_list %}    
            {% for cliente in cliente_list %}
            <tbody>
                <tr class="tabelahover" onclick="window.location='/cliente/editar/{{ cliente.id }}/'" style="cursor: pointer;">
                    <td>{{ cliente.id }}</td>
                    <td>{{ cliente.nome }}</td>
                    <td>{{ cliente.datanascimento|date:"d/m/Y" }}</td>
                </tr>
            </tbody>
            {% endfor %}
        {% else %}
            <tbody>
                <tr>
                    <td>Não existem clientes cadastrados.</td>
                </tr>
            </tbody>
        {% endif %}            
    </table>
{% endblock %}