<!-- Chamada template - estrutura diretório
    dir1/
        template.html
        base2.html
        my/
            base3.html
    base1.html
    **************************************
    Chamada nos arquivos filhos (childs)
    **************************************
    {abre colchete % extends "./base2.html" % fecha colchete}
    {abre colchete % extends "../base1.html" % fecha colchete}
    {abre colchete % extends "./my/base3.html" % fecha colchete}
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Template Base{% endblock %}</title>
    {% load static %}
    <link href="{% static 'cliente/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'cliente/css/style.css' %}" rel="stylesheet">
</head>

<body>
    <div id="content">
        {% block content-header %}
        {% endblock %}
    </div>

    <section>
        <div class="container" id="content">
            <div class="container">
                {% block content-section %}
                {% endblock %}
            </div>
        </div>
    </section>

    <div id="content">
        {% block content-footer %}
        {% endblock %}
    </div>

    {% load static %}
    <script type="text/javascript" src="{% static 'cliente/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'cliente/bootstrap.min.js' %}"></script>
    <!-- Mascara do campo de data de nascimento --> 
    <script type="text/javascript" src="{% static 'cliente/dist/jquery.inputmask.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'cliente/cliente/maskcliente.js' %}"></script>     
</body>
</html>